* {
	font-family: Arial, Tahoma, sans-serif;
}
form table tr th, table.nameValuePairs tr th {
	text-align: right;
	vertical-align: top;
}
table thead tr th {
	text-align: left;
	background-color: #ddd;
}
.number {
	text-align: right;
}
form input, form textarea {
	padding: 2px;
	border: 1px solid grey;
	background-color: #ffd;
	font-weight: normal;
}
table tbody tr td.small {
	font-size: x-small;
}
a.button {
	color: black;
	padding: 2px 3px;
	border: 1px solid grey;
	background-color: #ffd;
	text-decoration: none;
	margin: 2px;
}
a.button:hover, form input[type="submit"]:hover {
	background-color: black;
	color: #ffd;
}
.error {
	color: red;	
}
.navBar {
	margin: 10px 0px;
	font-size: small;
	padding-bottom: 7px;
	border-bottom: 1px solid black;
}

h1 {
    margin: 5px 0px;
}

.breadcrumbs,
.breadcrumbs a {
    font-size: small;
    color: #666;
}
.breadcrumbs:before {
    content: "\00bb ";
}

div.post {
    margin-top: 10px;
    border-color: #333;
}
.post,
.post .header,
.post .message {
    border: 1px solid #ccc;
    padding: 2px;
}
.post .header {
    position: relative;
    margin-bottom: 5px;
}
.post .header .author {
    float: left;
    width: 50%;
}
.post .header .date {
    float: right;
    width: 50%;
}
.post .header .actions {
    display: none;
    font-size: small;
    position: absolute;
    right: 3px;
    top: 3px;
}
.post .header:hover .actions {
    display: block;
}
form .post textarea {
    margin: 3px 0;
    padding: 5px;
    width: 98.5%;
}