<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http path-type="regex" realm="SForums" access-denied-page="/access_denied.html">

		<intercept-url pattern="^/(category|user)_form\.html.*$"
			requires-channel="https" access="ROLE_ADMIN" />

		<intercept-url pattern="^/(user|category)_delete\.html.*$"
			access="ROLE_ADMIN" />

		<intercept-url pattern="^/user_profile\.html.*$"
			requires-channel="https" access="ROLE_USER" />

		<intercept-url pattern="^/user_register\.html.*$"
			requires-channel="https" access="ROLE_ANONYMOUS" />

		<intercept-url pattern="^/login.html.*$"
			requires-channel="https" method="POST" />

		<intercept-url pattern="^/.+\.html.*$" requires-channel="http" />

		<form-login login-processing-url="/security_check.html"
			login-page="/login.html" default-target-url="/"
			always-use-default-target="false" />

		<anonymous username="anonymousUser" granted-authority="ROLE_ANONYMOUS" />

		<http-basic />

		<logout logout-url="/logout.html" logout-success-url="/?logout=true"
			invalidate-session="true" />

		<session-management>
			<concurrency-control max-sessions="1"
				error-if-maximum-exceeded="true" expired-url="/logout.html" />
		</session-management>

		<remember-me key="73666f72756d73" token-validity-seconds="7776000" />

	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="userDetailsService">
			<password-encoder ref="passwordEncoder" />
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="userDetailsService"
		class="com.marakana.sforums.security.DefaultUserDetailsService" />

	<beans:bean id="passwordEncoder"
		class="org.springframework.security.crypto.password.StandardPasswordEncoder">
		<beans:constructor-arg value="6d6172616b616e61" />
	</beans:bean>

	<global-method-security secured-annotations="enabled" />
</beans:beans>