<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
       http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.2.xsd">

	<mvc:annotation-driven />

	<context:component-scan base-package="com.marakana.sforums.web" />

	<bean id="handlerMapping"
		class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
		<property name="alwaysUseFullPath" value="true" />
	</bean>

	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<mvc:view-controller path="/home.html" view-name="home" />
    <mvc:view-controller path="/login.html" view-name="login" />
    <mvc:view-controller path="/access_denied.html" view-name="accessDenied" />

    <mvc:interceptors>
        <bean class="com.marakana.sforums.web.UserContextInterceptor" />
    </mvc:interceptors>

	<bean name="/categories.html"
		class="com.marakana.sforums.web.IdentifiableEntityListController"
		p:dao-ref="categoryDao" p:viewName="categoryList" />

	<bean name="/category.html"
		class="com.marakana.sforums.web.IdentifiableEntityGetController"
		p:dao-ref="categoryDao" p:viewName="categoryView" />

	<bean name="/category_delete.html"
		class="com.marakana.sforums.web.IdentifiableEntityDeleteController"
		p:dao-ref="categoryDao" />

	<bean name="/users.html"
		class="com.marakana.sforums.web.IdentifiableEntityListController"
		p:dao-ref="userDao" p:viewName="userList" />

	<bean name="/user.html"
		class="com.marakana.sforums.web.IdentifiableEntityGetController"
		p:dao-ref="userDao" p:viewName="userView" />

	<bean name="/user_delete.html"
		class="com.marakana.sforums.web.IdentifiableEntityDeleteController"
		p:dao-ref="userDao" />

	<bean id="exceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="org.springframework.dao.DataAccessException">dataAccessError</prop>
				<prop key="org.springframework.transaction.TransactionException">dataAccessError</prop>
			</props>
		</property>
	</bean>
</beans>
